.messages_box__message_box
  .messages_box__message_box__info
    %p.messages_box__message_box__info__username
      = message.user.name
    %p.messages_box__message_box__info__create_at
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .messages_box__message_box__message_text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    