.messages_box__message_box__info
  %p.messages_box__message_box__info__username
    user_name
  %p.messages_box__message_box__info__create_at
    2020/3/28
  %p.messages_box__message_box__message_text
    message_text