$font-color: #ffffff;
$side-color: #253141;
$main-color: #2f3e51;
$btn-color: #38aef0;
$name-color: #333333;
$create-color: #999999;
$box-color: #fafafa;
$message-color: #434a54;
$form-color: #d2d2d2;