@import "config/variable";

* {
  box-sizing: border-box;
  text-decoration: none;
  .chat_side{
    background-color:$side-color;
    width: 300px;
    float: left;
    .header{
      height: 100px;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      &__box{
        color: $font-color;
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        font-size: 16px;
        &__username{
          font-weight: bold;
        }
        &__menu{
          width: 60px;
          li{
            a{
              text-decoration: none;
              float: right;
              margin-left: 5px;
              color: $font-color;

            }
          }
        }
      } 
    }
    .main{
      padding: 20px 20px 0px 20px; 
      background-color: $main-color;
      height: calc(100vh - 100px);
      overflow: scroll;
      .group{
        color: $font-color;
        text-decoration: none;
        font-weight: bold;
        &__name{
          margin-bottom:5px ;
          font-size: 15px;
        }
        &__comment{
          font-size: 11px;
          margin-bottom: 40px;

        }
      }
    }
  }


  .chat_main{
    background-color: $font-color;
    width: calc(100vw - 300px);
    float: left;
    .header{
      height: 100px;
      padding: 0px 40px;
      display: flex;
      justify-content: space-between;
      &__group{
        margin-top: 35px;
        &__name{
          font-size: 20px;
          color: $name-color;
          margin-bottom: 15px;
        }
        &__message{
          display: flex;
          color: $create-color;
          font-size: 12px;
        }
      }
      .edit_btn{
        height: 40px;
        line-height: 40px;
        border: 1px solid $btn-color;
        margin-top: 28px;
        cursor: pointer;
        &__box{
          text-decoration: none;
        
          &__text{
            padding: 0px 20px;
            color: $btn-color;
          }
        }  
      }
    }
      .messages_box{
        height: calc(100vh - 190px);
        background-color: $box-color;
        padding:35px 40px;
        overflow: scroll;
        box-sizing: border-box;
        &__message_box{
          
          &__info{
            display: flex;
            margin-bottom: 12px;
            &__username{
              font-size: 16px;
              font-weight: bold;
              color: $name-color;
            }
            &__create_at{
              color:$create-color;
              font-size: 12px;
              margin-left: 10px;
            }
          }
          &__message_text{
            font-size: 14px;
            color: $message-color;
            margin-bottom: 46px;
          }
        }
      }
      .form {
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}